.flashbox{
  width:100%;
  color:white;
  text-align:center;
  .notice{background-color: $action-color;
  }  
}
.chat-side{
  width:300px;
  margin: 0;
  color:white;
  float: left; 
}
.side-header{
  height: 100px;
  display:flex;
  background-color: #253141;
  padding:0 20px;
  &__box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    font-weight:bold;
    font-size: 16px;
    &__user-name{

    }
    &__menu{
      display:flex;
    }
  }
}
.groups{
  min-height: calc(100vh - 100px);
  background-color: #2f3e51;
  overflow: scroll;
  padding:20px 20px 0;
  .group{
    font-weight: bold;
    margin-bottom: 40px;
    &__group-name{
      font-size: 15px;
      margin-bottom: 5px;
    }
    &__latest-message{
      font-size: 11px;
    }
  }

 }
.chat-main{
  width: calc(100vw - 300px);
  float: left;
}
.main-header{
  height:100px;
  padding: 0 40px;
  display:flex;
  border-bottom: solid #eeeeee;
  justify-content: space-between;
  overflow: scroll;
  &__left-box{
    margin-top: 35px;
    &__current-group{
      margin-bottom: 15px;
      font-size: 20px;
      color: #333333;
    }
    &__member-list{
      display:flex;
      font-size: 12px;
      color: $message-sub-color;
    }
  }
  &__edit-btn{
    height:40px;
    line-height:40px;
    padding:0 20px;
    margin-top:30px;
    border:solid 1px $action-color;
    position:absolute;
    right: 40px;
    color: $action-color;
  }
}
.messages{
  height:calc(100vh - 190px);
  padding:46px 40px;
  background-color: #fafafa;
  overflow: scroll;
}
.message{
  padding-bottom: 40px;
  &__upper-info{
    display: flex;
    margin-bottom: 10px;
    &__talker{
      color: $message-main-color;
      font-size:16px;
      font-weight:bold;
    }
    &__date{
      color: $message-sub-color;
      font-size: 12px;
      margin-left:10px;
    }
  }
  &__text{
    color: $message-main-color;
    font-size:14px;
    margin-bottom:10px;
  }
}
.form{
  height:90px;
  width: calc(100vw - 300px);
  padding:20px 40px;
  background-color: #dddddd;
  display:flex;
}
.input-box{
  position:relative;
  width: calc(100vw - 480px);
  &__text{
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    color: $message-main-color;
    border-style: none;
  }
  &__image{
    font-size: 1.3rem;
    position:absolute;
    top: 10px;
    right:10px;
    cursor: pointer;
    &__file{
      display:none;
    }
  }
}
.new_message{
  display: flex;
}
.submit-btn{
  width: 100px;
  height: 50px;
  padding:0 30px;
  margin-left: 15px;
  background-color: $action-color;
  color:white;
  cursor: pointer;
}